@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://css.gg/shopping-cart.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: hsl(33, 59%, 87%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    height: 608px;
    width: 400px;
    background-size: cover;
}

img {
    height: 608px;
    width: 400px;
    margin: 0;
    padding: 0;
    border-radius: 5% 0 0 5%;
}

.desc {
    background-color: #fff;
    height: 608px;
    width: 400px;
    padding: 40px;
    margin: 0;
    border-radius: 0 5% 5% 0;
}

.product-type {
    text-transform: uppercase;
    letter-spacing: 6px;
    opacity: .6;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.heading {
    font-family: 'Fraunces', serif;
    font-size: 45px;
    margin: 25px 0;
}

.product-info {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 19px;
    opacity: .6;
    margin: 27px 0;
}

p {
    margin: 27px 0;
}

.final-price {
    font-family: 'Fraunces', serif;
    font-size: 45px;
    margin: 0px 20px 25px 0;
    color: hsl(158, 36%, 37%);
}

.initial-price {
    text-decoration: line-through;
    opacity: .6;
    vertical-align: super;
    font-size: 15px;
}

button {
    border-style: none;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    width: 320px;
    height: 55px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart {
    width: 20px;
    height: 20px;
    margin: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 800px;
    opacity: .6;
    border-radius: 10px;
}
